# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\develop\all-in-one\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
